#magic {
    width: 350px;
    height: 475px;
}

.centerCards{
    text-align: center;
}


.cardflex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#UpdateCurrent{
    margin-left: 777px;
}

#checkmark {
    
    height: 25px;
    width: 25px;
    background-color: #eee;
}

#checkFlex{
    display: flex;
    flex-direction: column-reverse;

}