
@{
    ViewData["Title"] = "Index";
}

<h1>Magical Search!</h1>
<form>
    <p>
        Search: <input type="text" name="type">
        <input type="submit" value="Type" asp-action="FindType" />
    </p>
</form>

<form>
    <p>
        Search: <input type="text" name="name">
       <input type="submit" value="Name" asp-action="FindName" />
    
    </p>
</form>

<form>
    <p>
        Search: <input type="text" name="color">
        <input type="submit" value="Color" asp-action="FindColor" />
    </p>
</form>