@model Magic_Capstone.Models.Rootobject

@{
    ViewData["Title"] = "TaskCard";
}
    <link rel="stylesheet" href="~/css/TaskCardStyle.css">
<h1>TaskCard</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

    <div class="cardflex">
        
        @foreach (var item in Model.cards)
        {
            if (item.imageUrl != null)
            {

           <div>
            <div class="card">
                <img class="img-responsive" src=@item.imageUrl  id="magic"/>
            </div>
               </div>
               
            }
        }
            </div>
