@model Magic_Capstone.Models.DeckViewModels.CardDeckViewModel

@{
    ViewData["Title"] = "CardDeck";
}

<h1>Save Cards To Your Deck</h1>

<link rel="stylesheet" href="~/css/TaskCardStyle.css">

 
<form asp-action="SaveCard" asp-controller="CardDecks">

<div class="form-group">
    <label asp-for="Deck.DeckId" class="control-label">Deck Name</label>
    <select asp-for="Deck.DeckId" class="form-control" asp-items="@Model.DeckOptions"></select>
</div>
            <div class="cardflex">
@foreach (var item in Model.cardDatas)
{
    <div class="cardInfo">
       
      
        <div class="form-group">

            <button type="submit" name="CardDataId" value="@item.CardDataId"><img src="@item.imageUrl" id="magic"></button>
        </div>
        </div>
}
                </div>
</form>
<a asp-action="Index" asp-controller="Decks" class="btn btn-dark">Finish</a>

