@model Magic_Capstone.Models.DeckViewModels.CardDeckViewModel

@{
    ViewData["Title"] = "CardDeck";
}

<h1>Save Cards To Your Deck</h1>

<link rel="stylesheet" href="~/css/TaskCardStyle.css">

 
<form asp-action="SaveCard" asp-controller="CardDecks">

<div class="form-group">
    <label asp-for="Deck.DeckId" class="control-label">Deck Name</label>
    <select asp-for="Deck.DeckId" class="form-control" asp-items="@Model.DeckOptions" ></select>
</div>
            <div class="cardflex">
@foreach (var item in Model.cardDatas)
{
    <div class="cardInfo">
       
      
        <div class="form-group" id="checkFlex">
            <input name="CardIds" type="checkbox" value="@item.CardDataId" id="checkmark" />
            <img src="@item.imageUrl" id="magic">
        </div>
        </div>
}
                </div>
<button type="submit" name="CardDataId" value="@Model.CardDataIds" class="btn btn-dark">Finish</button>
</form>
