@model Magic_Capstone.Models.Deck

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Deck</h4>
    <hr />
    <h2>@Model.DeckName</h2>
       @foreach(var item in Model.cardDecks)
       {
           <img src="@item.CardData.imageUrl" />
       }
    <p>@Model.Description</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DeckId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
