@model Magic_Capstone.Models.Deck

@{
    ViewData["Title"] = "Details";
}
    <link rel="stylesheet" href="~/css/TaskCardStyle.css">

<div>
    <h1 class="centerCards">@Model.DeckName Details</h1>
    <h2 class="centerCards">@Model.Description</h2>
    <hr />
    <h4 class="centerCards">To delete a card from your deck just click on the card you wish to delete</h4>
    <div class="cardflex">
       @foreach(var item in Model.cardDecks)
       {
           <form asp-action="Delete" asp-controller="CardDecks">

          <button type="submit" name="CardDeckId" value="@item.CardDeckId"><img src="@item.CardData.imageUrl" id="magic"/></button>
               </form> 
       }
        </div>
    
</div>
<div>
   
    <a asp-action="Index" class="btn btn-dark">Back to List</a>
</div>
