@model IEnumerable<Magic_Capstone.Models.Deck>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@foreach (var item in Model)
{
    <h2>@item.DeckName</h2>
    
    <p>@item.Description</p>
    <a asp-action="Details" asp-route-id="@item.DeckId">Deck Details</a>
}
             